

<div *ngIf="product" class="card" style="width:20rem;">
  <img *ngIf="product.imageUrl" class="card-img-top" [src]=" product.imageUrl" alt="{{product.title}}">
    <div class="card-body">
        <p class="card-title">{{ product.title }}</p>
        <p class="card-text">{{ product.author }}</p>
        <p class="card-text">{{ product.price | currency:'BDT:':true}}</p>
        
    </div>

    <div *ngIf="showActions && shoppingCart" class="card-footer">
      <button 
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart(product)"
       class="btn btn-secondary btn-block"
       >Add to Cart</button>

      <ng-template #updateQuantity>
         <product-quantity [product]="product" [shopping-cart]="shoppingCart" ></product-quantity>

      </ng-template>
    </div>
</div>